.codehilite {
  background: #f8f8f8;

  .hll {
    background-color: #ffc;
  }

  .c, .ch, .cm, .cpf, .c1, .cs, .ge, .sd {
    font-style: italic;
  }

  .c, .ch, .cm, .cpf, .c1, .cs {
    color: #408080;
  }

  .err {
    border: 1px solid red;
  }

  .k, .gh, .gp, .gs, .gu, .kc, .kd, .kn, .kr, .nc, .ni, .ne, .nn, .nt, .ow, .se, .si {
    font-weight: 700;
  }

  .k, .kc, .kd, .kn, .kp, .kr, .nb, .nt, .sx, .bp {
    color: green;
  }

  .o, .m, .mb, .mf, .mh, .mi, .mo, .il {
    color: #666;
  }

  .cp {
    color: #bc7a00;
  }

  .gd {
    color: #a00000;
  }

  .gr {
    color: red;
  }

  .gh, .gp {
    color: navy;
  }

  .gi {
    color: #00a000;
  }

  .go {
    color: #888;
  }

  .gu {
    color: purple;
  }

  .gt {
    color: #04d;
  }

  .kt {
    color: #b00040;
  }

  .s, .sa, .sb, .sc, .dl, .sd, .s2, .sh, .s1 {
    color: #ba2121;
  }

  .na {
    color: #7d9029;
  }

  .nc, .nf, .nn, .fm {
    color: #00f;
  }

  .no {
    color: #800;
  }

  .nd, .ow {
    color: #a2f;
  }

  .ni {
    color: #999;
  }

  .ne {
    color: #d2413a;
  }

  .nl {
    color: #a0a000;
  }

  .nv, .ss, .vc, .vg, .vi, .vm {
    color: #19177c;
  }

  .w {
    color: #bbb;
  }

  .se {
    color: #b62;
  }

  .si, .sr {
    color: #b68;
  }
}

body {
  overflow-x: hidden;
}

.dropdown-toggle::after {
  content: none !important;
}

.navbar, .navbar img {
  height: 3.5rem;
}

.container-fluid > .row:first-child {
  margin-top: 4.5rem;
}

.card {
  border-radius: 0;
}

.sidebar {
  ul {
    list-style: none;
    padding-left: 1rem;
  }

  .card-body > ul {
    > ul, & {
      > li::before {
        font-family: "Font Awesome 5 Free", monospace;
        font-weight: 900;
        margin-right: 0.5rem;
      }
    }

    > ul > li::before {
      content: '\f0da';
    }

    > li::before {
      content: '\f105';
    }
  }
}

.sidebar .card li, .breadcrumb-item, .list-group-item-action {
  > a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: none;
      color: darkgray;
    }
  }
}

.markdown-body {
  table {
    display: table !important;
  }

  img {
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
}

.codehilitetable {
  tr, td {
    border: none !important;
  }

  td {
    padding: 0 !important;
  }
}

.linenos {
  width: 3rem;
}
