{% extends 'blog.html' %}
{% load blog %}
{% block title %}
    {% ifequal path '' %}
        新增博客
    {% else %}
        {{ path | last | last }}
    {% endifequal %}
{% endblock %}
{% block sidecards %}
    {% sidecard '编辑' %}
        <div class="mb-3">
            <input aria-label="" class="form-control" form="publish-form" name="publish_path" placeholder="发布路径"
                   required type="text" value="{{ publish_path }}">
        </div>
        <div class="mb-3">
            <input aria-label="" class="form-control" form="publish-form" name="content_name" placeholder="标题"
                   required type="text" value="{{ content_name }}">
        </div>
        <div class="mb-3">
            <input aria-label="" class="form-control" form="publish-form" name="content_type" placeholder="类型"
                   required type="text" value="{{ content_type }}">
        </div>
        <div class="mb-3">
            <input aria-label="" class="form-control" form="publish-form" name="content_tags" placeholder="标签"
                   required type="text" value="{{ content_tags }}">
        </div>
        <div class="mb-3">
            {% with pd=publish_date %}
                <input aria-label="" class="form-control" form="publish-form" name="publish_date" placeholder="发布时间"
                       required type="date"
                       value="{% if pd %}{{ pd | date:"Y-m-d" }}{% else %}{% now 'Y-m-d' %}{% endif %}">
            {% endwith %}
        </div>
        <div class="mb-3">
            <input aria-label="" class="form-control" form="publish-form" name="publish_desc" placeholder="发布描述"
                   required type="text" value="{{ publish_desc }}">
        </div>
        <div class="text-right">
            <button class="btn btn-primary" form="publish-form" type="submit">发布</button>
        </div>
    {% endsidecard %}
{% endblock %}
{% block content %}
    <div class="card-body">
        <div class="markdown-body mb-3"><h2>编辑</h2></div>
        <form action="{% url 'blog-publish' %}" class="no-smooth" enctype="multipart/form-data" id="publish-form"
              method="post">
            {% csrf_token %}
            {% if id is not None %}
                <input name="id" type="hidden" value="{{ id }}">
            {% endif %}
            <div class="mb-3">
                <textarea aria-label="" class="form-control" name="content_desc" placeholder="简介" required
                          type="text">{{ content_desc }}</textarea>
            </div>
            <div class="mb-3">
                <textarea aria-label="" class="form-control" name="content_urls" placeholder="相关连接"
                          type="text">{{ content_urls }}</textarea>
            </div>
            <div class="mb-3">
                <input id="file-upload" multiple name="images" type="file">
            </div>
            <div class="mb-3">
                <textarea aria-label="" class="form-control" name="content_text" placeholder="正文" required
                          type="text">{{ content_text }}</textarea>
            </div>
        </form>
    </div>
    {% comment %}
        This script is here so that smoothState.js can reload it after smooth transitions. This is also the why we use
        js instead of html to render file uploaders and text areas.
    {% endcomment %}
    <!--suppress JSUnresolvedFunction -->
    <script type="text/javascript">
        $(document).ready(() => {
            $('textarea').each(function () {
                $(this).css('resize', 'none').css('height', this.scrollHeight + 'px').css('overflow-y', 'hidden');
            }).on('input', function () {
                $(this).css('height', 'auto').css('height', this.scrollHeight + 'px');
            });
            $('#file-upload').fileinput({
                showClose: false,
                showUpload: false,
                previewFileType: 'image',
                allowedFileExtensions: ['png', 'jpg', 'jpeg', 'gif', 'svg'],
                removeIcon: '<i class="fas fa-trash-alt"></i>',
                browseIcon: '<i class="fas fa-folder-open"></i>',
                removeLabel: '',
                browseLabel: ''
            });
        });
    </script>
{% endblock %}