<!DOCTYPE html>
{% load static %}
{% load blog %}
{% load components %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ content_name }}
        {% endblock %}
    </title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha256-IdfIcUlaMBNtk4Hjt0Y6WMMZyMU0P9PN/pH+DFzKxbI=" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/github-markdown-css@4.0.0/github-markdown.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.1.2/css/fileinput.min.css"
          integrity="sha256-lSTPYy8G5/BZ5CnHF5YxUqnq0jJ37x5Vvu1NGFDkZV4=" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
          integrity="sha256-tn6hZ2YGDv0w1/DaFL4MiUoXuAVclrtFZs13ch3TB9M=" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.0/animate.min.css"
          integrity="sha256-6hqHMqXTVEds1R8HgKisLm3l/doneQs+rS1a5NLmwwo=" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
</head>
<body>
<div class="d-flex flex-column min-vh-100" id="main">
    {% navigator %}
        <form action="{% url 'blog-indices' %}" method="get">
            <div class="input-group mr-sm-2">
                <input aria-label="" class="form-control" name="keyword" placeholder="搜索" required type="text"
                       value="{{ skey }}">
                <button class="btn btn-outline-info" type="submit">
                    <svg class="bi bi-search" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
                              fill-rule="evenodd"></path>
                        <path d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
                              fill-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </form>
        {% links %}
        {% for category in cate %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog-content' path='' %}{{ category }}">{{ category }}</a>
            </li>
        {% endfor %}
        {% menus %}
        {% if request.user.is_superuser %}
            <li><a class="dropdown-item" href="{% url 'blog-publish' %}">添加</a></li>
            {% if id is not None %}
                <li><a class="dropdown-item" href="{% url 'blog-publish' %}?id={{ id }}">编辑</a></li>
            {% endif %}
        {% endif %}
    {% endnavigator %}
    <div class="container-fluid flex-grow-1">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <ul class="breadcrumb shadow">
                    <li class="breadcrumb-item">
                        <a href="{% url 'blog-content' path='' %}">博客</a>
                    </li>
                    {% for href, name in path %}
                        {% if forloop.last %}
                            <li class="breadcrumb-item active">{{ name }}</li>
                        {% else %}
                            <li class="breadcrumb-item">
                                <a href="{% url 'blog-content' path='' %}{{ href }}">{{ name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-2 sidebar">
                {% block sidecards %}{% endblock %}
                {% if subd is not None %}
                    {% sidecard '下属目录' %}
                        <ul>
                            {% for sub_path in subd %}
                                <li class="mb-3">
                                    <a href="{{ request.path }}{{ sub_path }}/">{{ sub_path }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endsidecard %}
                {% endif %}
                {% sidecard '最近' %}
                    <ul>
                        {% for title, date, href in rect %}
                            <li class="mb-3">
                                <a href="{% url 'blog-content' path='' %}{{ href }}/">{{ title }}</a>
                                {% publish_date date %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endsidecard %}
                {% sidecard '标签' %}
                    <h4>
                        {% for tag in tags %}
                            {% blog_tag tag %}
                        {% endfor %}
                    </h4>
                {% endsidecard %}
            </div>
            <div class="col-8">
                <div class="card shadow content">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </div>
    {% footer %}
</div>
</body>
<canvas style="position:fixed;z-index:-100;top:0;height:100vh;left:0;opacity:50%"></canvas>
<script crossorigin="anonymous"
        integrity="sha256-u+Q/eQIe6P5wU4K8maihJOQkhqBbf7K1NN68GwTpNz0="
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-hjCK7fhuMVuuJlIWHtxO9w2yzM+gN6cI5PbTy+aSO1o="
        src="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.1.2/js/fileinput.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-1qhJwAgsSPVSSjlQVTewHS49eaoAbOz651dveUANVBI="
        src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-oEuQVLwO5Ii6subChtLbrY5gx7NDRU+UJJ9jvvau+FI="
        src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/smoothstate@0.7.2/src/jquery.smoothState.min.js"></script>
<script src="{% static 'js/animations.min.js' %}"></script>
</html>