{% extends 'blog.html' %}
{% load blog %}
{% block title %}
    {{ content_name }}
{% endblock %}
{% block sidecards %}
    {% sidecard content_name %}
        <p>{{ content_desc }}</p>
        {% publish_date publish_date publish_desc %}
    {% endsidecard %}
    {% sidecard '文章目录' %}
        <ul>
            {% for name, href in content_menu %}
                {% if name is None %}
                    <ul>
                        {% for name, href in href %}
                            <li><a class="black-link" href="#" onclick="sst('#{{ href }}')">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <li><a class="black-link" href="#" onclick="sst('#{{ href }}')">{{ name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endsidecard %}
    {% ifnotequal content_urls|length 0 %}
        {% sidecard '相关连接' %}
            <ul>
                {% for title, href in content_urls %}
                    <li><a class="black-link" href="{{ href }}">{{ title }}</a></li>
                {% endfor %}
            </ul>
        {% endsidecard %}
    {% endifnotequal %}
{% endblock %}
{% block content %}
    <div class="card-body markdown-body">
        {{ content_text | safe }}
    </div>
    <script type="text/javascript">
        $(document).ready(() => renderMathInElement(document.body))
    </script>
{% endblock %}