<!DOCTYPE html>
{% load static %}
{% load blog %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ content_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha512-rO2SXEKBSICa/AfyhEK5ZqWFCOok1rcgPYfGOqtX35OyiraBg6Xa4NnBJwXgpIRoXeWjcAmcQniMhp22htDc6g=="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css"
          integrity="sha512-Oy18vBnbSJkXTndr2n6lDMO5NN31UljR8e/ICzVPrGpSud4Gkckb8yUpqhKuUNoE+o9gAb4O/rAxxw1ojyUVzg=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css"
          integrity="sha512-SBL9R0mkYbWGuy/0DLHNxYHPScUMar9Y55t8vrnN42ZYfLZ4SnjXqCFfEhPTnj9pedAs5F+WZkzjq1qGS8+VGg=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
          integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css"
          integrity="sha512-kb1CHTNhoLzinkElTgWn246D6pX22xj8jFNKsDmVwIQo+px7n1yjJUZraVuR/ou6Kmgea4vZXZeUDbqKtXkEMg=="
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"
            integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha512-I5TkutApDjnWuX+smLIPZNhw+LhTd8WrQhdCKsxCFRSvhFx2km8ZfEpNIhF9nq04msHhOkE8BMOBj5QE07yhMA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.1/css/fileinput.min.css"
          integrity="sha512-GfiuxDoAwe470pDVm1TqVyXYgOJc2uMuEzqx3j3n5KFdUv35z4WJssXJj+87mffXCGjOpo5/93r1yfaUD0Oi8g=="
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"
            integrity="sha512-Fv9UOVSqZqj4FDYBbHkvdMFOEopbT/GvdTQfuWUwnlOC6KR49PnxOVMhNG8LzqyDf+tYivRqIWVxGdgsBWOmjg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.1/js/fileinput.min.js"
            integrity="sha512-Z9t682I7H/fW/wjZsZHgHc0vvu4O17zNvF/b0E7KRNxqt6lYDsjV2AwMkcuYs5PPttcfoAWC0jwok7qPmwXPgw=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js"
            integrity="sha512-2k+W+3OGhtd3whnGt33ek/oA1M/aqB6Mir+WIcCrSuIC2yD6iTX6IuPf5q1oEJGQT06jma5K6ca7Xqb4u7Urow=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/contrib/auto-render.min.js"
            integrity="sha512-GicGrbLBXJh2kbF+DYD+sCW5hPavoOfVAKSOE7+qgYCgVTcwe+/D4LXegS9JVTY72ovc5Ung4Fml+i1uD3uOyQ=="
            crossorigin="anonymous"></script>
</head>
<body>
<div id="main">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow">
        <a class="navbar-brand" href="{% url 'blog-content' path='' %}">
            <img src="{% static 'home.png' %}" alt="Home">
        </a>
        <div class="collapse navbar-collapse">
            <form class="form-inline" action="{% url 'blog-indices' %}" method="get">
                <div class="input-group mr-sm-2">
                    <input type="text" name="title" value="{{ stit }}" class="form-control" placeholder="搜索"
                           aria-label="搜索">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-info"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav mr-auto">
                {% for category in cate %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-content' path='' %}{{ category }}">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        {{ request.user.username }}&nbsp;&laquo;{{ request.user.email }}&raquo;
                    </button>
                    <div class="dropdown-menu">
                        {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'blog-publish' %}"><i class="fas fa-plus">&nbsp;添加</i></a>
                            {% if id is not None %}
                                <a class="dropdown-item"
                                   href="{% url 'blog-publish' %}?id={{ id }}">
                                    <i class="fas fa-pen">&nbsp;编辑</i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <ul class="breadcrumb shadow">
                    <li class="breadcrumb-item">当前位置</li>
                    {% for href, name in path %}
                        {% if forloop.last %}
                            <li class="breadcrumb-item active">{{ name }}</li>
                        {% else %}
                            <li class="breadcrumb-item">
                                <a href="{% url 'blog-content' path='' %}{{ href }}">{{ name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-2 sidebar">
                {% block sidecards %}{% endblock %}
                {% if subd is not None %}
                    {% sidecard '下属目录' %}
                        <ul>
                            {% for sub_path in subd %}
                                <li class="mb-3">
                                    <a href="{{ request.path }}{{ sub_path }}/">{{ sub_path }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endsidecard %}
                {% endif %}
                {% sidecard '最近' %}
                    <ul>
                        {% for title, date, href in rect %}
                            <li class="mb-3">
                                <a href="{% url 'blog-content' path='' %}{{ href }}/">{{ title }}</a>
                                {% date date %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endsidecard %}
                {% sidecard '标签' %}
                    <h4>{% for tag in tags %}{% tag tag %}{% endfor %}</h4>
                {% endsidecard %}
            </div>
            <div class="col-8">
                <div class="card shadow content">{% block content %}{% endblock %}</div>
            </div>
        </div>
        <div class="row mb-5 footer">
            <hr style="width: 85%"/>
            <div class="text-center w-100">
                <p>
                    <i class="fab fa-github"></i>&nbsp;
                    <a class="text-muted" href="https://github.com/endereye">访问Github</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
{% ifequal no_animations None %}
    <canvas style="position: fixed; z-index: -100; top: 0; height: 100vh; left: 0; opacity: 50%"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothState.js/0.7.2/jquery.smoothState.min.js"
            integrity="sha512-PA88Ew5anBQLPlovdwOOMj+Ky0x+M6a6bDXYve4q+NDj17AJ37FwHT4Xo758ZQqYKLyvaYko27cQDQ5P/0kOJA=="
            crossorigin="anonymous"></script>
    <script src="{% static 'js/component-animations.min.js' %}"></script>
{% else %}
    <script type="text/javascript">
        const smoothScroll = (position) => document.documentElement.scrollTop = position;
    </script>
{% endifequal %}
</html>