{% extends 'blog.html' %}
{% load blog %}
{% block sidecards %}
    {% sidecard content_name %}
        <p>{{ content_desc }}</p>
        {% publish_date publish_date publish_desc %}
    {% endsidecard %}
    {% sidecard '文章目录' %}
        <ul>
            {% for name, href in content_menu %}
                {% if name is None %}
                    <ul>
                        {% for name, href in href %}
                            <li><a href="#" onclick="smoothScroll('#{{ href }}')">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <li><a href="#" onclick="smoothScroll('#{{ href }}')">{{ name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endsidecard %}
    {% ifnotequal content_urls '' %}
        {% sidecard '相关连接' %}
            <ul>
                {% for title, href in content_urls %}
                    {% comment %}
                        Determine whether this link is an external link or insite link. We know for sure that insite
                        links starts with at least a slash and definitely not `http`, so we detect if the first four
                        characters of the url is `http` to decide whether it is an insite link.
                        We need to know this so that we can add smooth transitions to blog navigations.
                    {% endcomment %}
                    {% if href|slice:":4" == 'http' %}
                        <li><a class="no-smooth" href="{{ href }}">{{ title }}</a></li>
                    {% else %}
                        <li><a href="{{ href }}">{{ title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endsidecard %}
    {% endifnotequal %}
{% endblock %}
{% block content %}
    <div class="card-body markdown-body">
        {{ content_text | safe }}
    </div>
    <script type="text/javascript">
        $(document).ready(() => renderMathInElement(document.body))
    </script>
{% endblock %}