{% extends 'blog.html' %}
{% load blog %}
{% block sidecards %}
    {% sidecard content_name %}
        <p>{{ content_desc }}</p>{% date publish_date publish_desc %}
    {% endsidecard %}
    {% sidecard '文章目录' %}
        <ul>
            {% for name, href in content_menu %}
                {% if name is None %}
                    <ul>
                        {% for name, href in href %}
                            <li><a href="#" onclick="smoothScroll($('#{{ href }}').position().top)">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <li><a href="#" onclick="smoothScroll($('#{{ href }}').position().top)">{{ name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endsidecard %}
    {% sidecard '相关连接' %}
        <ul>
            {% for title, href in content_urls %}
                <li><a class="no-smooth" href="{{ href }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    {% endsidecard %}
{% endblock %}
{% block content %}
    <div class="card-body markdown-body">{{ content_text | safe }}</div>
    <script type="text/javascript">
        $(document).ready(() => renderMathInElement(document.body))
    </script>
{% endblock %}