{% extends 'blog.html' %}
{% block external_styles %}
    {# Styles for cover image. Ensure maximum width and fixed ratio. #}
    .card-img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%, auto
    }
{% endblock %}
{# The title will be the last directory of the path, but if the path is empty (i.e. root), display a default one. #}
{% block title %}{% ifequal path '' %}个人博客{% else %}{{ path | last | last }}{% endifequal %}{% endblock %}
{% block meta %}{% endblock %},
{% block content %}
    <div class="list-group mb-3">
        {% for blog in blog %}
            <div class="card list-group-item list-group-item-action">
                <a href="/blog/{{ blog.publish_path }}" class="row no-gutters stretched-link">
                    <div class="card-img col-4" style='background-image: url("{{ blog.content_cimg }}")'></div>
                    <div class="col-8">
                        <div class="card-body">
                            <div class="markdown-body"><h2>{{ blog.content_name }}</h2></div>
                            <div class="mb-3">
                                {% for tag in blog.content_tags %}
                                    <div class="badge badge-secondary">{{ tag }}</div>
                                {% endfor %}
                            </div>
                            <p>{{ blog.content_desc }}</p>
                            <div class="text-muted text-right">
                                <span>{{ blog.publish_date | date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;{{ blog.publish_desc }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <nav style="margin: auto">
        <ul class="pagination">
            {# Disable the previous page button when it is first page. #}
            {% ifequal page 1 %}
                <li class="page-item disabled">
                    <span class="page-link"><span aria-hidden="true">&laquo;</span></span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ rurl }}page={{ page | add:"-1" }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endifequal %}
            {% with range='.'|center:pcnt %}
                {% for _ in range %}
                    {% ifequal forloop.counter page %}
                        {# You can not click on the current page, obviously. #}
                        <li class="page-item active"><span class="page-link">{{ forloop.counter }}</span></li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ rurl }}page={{ forloop.counter }}">
                                {{ forloop.counter }}
                            </a>
                        </li>
                    {% endifequal %}
                {% endfor %}
            {% endwith %}
            {# Disable the next page button when it is last page. #}
            {% ifequal page pcnt %}
                <li class="page-item disabled">
                    <span class="page-link"><span aria-hidden="true">&raquo;</span></span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ rurl }}page={{ page | add:"1" }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endifequal %}
        </ul>
    </nav>
{% endblock %}