<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">登录</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="login-form">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-1"></div>
                        <label class="col-2 col-form-label" for="login-username">用户名</label>
                        <input id="login-username" type="text" name="username" class="form-control col-8">
                        <div class="col-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-1"></div>
                        <label class="col-2 col-form-label" for="login-password">密码</label>
                        <input id="login-password" type="password" name="password" class="form-control col-8">
                        <div class="col-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="alert alert-danger col-10" role="alert" hidden></div>
                        <div class="col-1"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="submit" form="login-form" class="btn btn-primary">登录</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    const logout = () => $.post('{% url 'user-logout' %}', {}, () => location.reload());
    $(document).ready(() => {
        $('#login-form').submit(function (e) {
            $.post('{% url 'user-login' %}', $(this).serializeArray(), () => location.reload())
                .fail((resp) => $('#login-form .alert')
                    .text(resp.status === 401 ? '用户名或密码错误' : resp.status === 403 ? '请刷新页面后重试' : '网络错误')
                    .removeAttr('hidden'));
            e.preventDefault();
        });
    });
</script>