<!DOCTYPE html>
{% load static %}
{% load components %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>控制台</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha256-IdfIcUlaMBNtk4Hjt0Y6WMMZyMU0P9PN/pH+DFzKxbI=" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <style>
        .card a:hover svg {
            fill: darkgray;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
{% navigator %}
    {% links %}
    <li class="nav-item"><a class="nav-link" href="{% url 'blog-content' path='' %}">博客</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'logs' %}">日志</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'wcmd-wcui' %}">命令行</a></li>
{% endnavigator %}
<div class="container flex-grow-1">
    <div class="row d-flex mb-4">
        <div class="col-6 flex-grow-1">
            <div class="card shadow h-100">
                <div class="card-body">
                    <table class="table table-striped table-hover text-break">
                        <thead>
                        <tr>
                            <th scope="col">COOKIES</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        {% for key, value in request.COOKIES.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6 flex-grow-1">
            <div class="card shadow h-100">
                <div class="card-body">
                    <table class="table table-striped table-hover text-break">
                        <thead>
                        <tr>
                            <th scope="col">SESSION</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        {% for key, value in request.session.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex mb-4">
        <div class="col-6 flex-grow-1">
            <div class="card shadow h-100">
                <div class="card-body">
                    <table class="table table-striped table-hover text-break">
                        <thead>
                        <tr>
                            <th scope="col">UWSGI</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tr>
                            <td>工作进程数量</td>
                            <td>{{ uwsgi.proc_num }}</td>
                        </tr>
                        {% for worker in uwsgi.workers %}
                            <tr>
                                <td>工作进程{{ worker.id }}</td>
                                <td>PID：{{ worker.pid }}，重置次数：{{ worker.respawn_count }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>启动时间</td>
                            <td>{{ uwsgi.started_on | date:"Y-m-d H:i:s" }}</td>
                        </tr>
                        <tr>
                            <td>主进程PID</td>
                            <td>{{ uwsgi.master_pid }}</td>
                        </tr>
                        <tr>
                            <td>缓冲区大小</td>
                            <td>{{ uwsgi.buffer_size }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6 flex-grow-1">
            <div class="card shadow h-100">
                <div class="card-body">
                    <table class="table table-striped table-hover text-break">
                        <thead>
                        <tr>
                            <th scope="col">SYSTEM</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tr>
                            <td>系统</td>
                            <td>{{ system.system }}</td>
                        </tr>
                        <tr>
                            <td>版本</td>
                            <td>{{ system.version }}</td>
                        </tr>
                        <tr>
                            <td>机器名</td>
                            <td>{{ system.machine }}</td>
                        </tr>
                        <tr>
                            <td>架构</td>
                            <td>{{ system.architecture }}</td>
                        </tr>
                        <tr>
                            <td>处理器</td>
                            <td>{{ system.processor }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% footer %}
</body>
<script crossorigin="anonymous"
        integrity="sha256-u+Q/eQIe6P5wU4K8maihJOQkhqBbf7K1NN68GwTpNz0="
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script>
</html>