<!DOCTYPE html>
{% load components %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>日志查看</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha256-IdfIcUlaMBNtk4Hjt0Y6WMMZyMU0P9PN/pH+DFzKxbI=" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
</head>
<body>
{% navigator %}
    <form action="{% url 'logs' %}" class="d-flex" method="get">
        <div class="input-group">
            <input aria-label="" class="form-control" name="src_time_s" type="date"
                   value="{{ search.src_time_e | date:"Y-m-d" }}">
            <span class="input-group-text">~</span>
            <input aria-label="" class="form-control" name="src_time_e" type="date"
                   value="{{ search.src_time_e | date:"Y-m-d" }}">
            <span class="input-group-text">:</span>
            <input aria-label="" class="form-control" min="0" name="src_user" placeholder="用户ID" type="number"
                   value="{{ search.src_user }}">
            <span class="input-group-text">@</span>
            <input aria-label="" class="form-control" name="src_addr" placeholder="IP地址" type="text"
                   pattern="((2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2})(\.((2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2})){3}"
                   value="{{ search.src_addr }}">
            <span class="input-group-text">#</span>
            <input aria-label="" class="form-control" name="keyword" placeholder="关键词" type="text"
                   value="{{ search.keyword }}">
            <button class="btn btn-outline-info" type="submit">
                <svg class="bi bi-search" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
                          fill-rule="evenodd"></path>
                    <path d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
                          fill-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </form>
{% endnavigator %}
<div class="container mb-5">
    <div class="card shadow">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">用户ID</th>
                    <th scope="col">用户名</th>
                    <th scope="col">IP</th>
                    <th scope="col">时间</th>
                    <th scope="col">类别</th>
                    <th scope="col">行为</th>
                    <th scope="col">详细信息</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.src_user }}</td>
                        <td>{{ log.src_name }}</td>
                        <td>{{ log.src_addr }}</td>
                        <td>{{ log.src_time | date:'Y-m-d H:i:s' }}</td>
                        <td>{{ log.category }}</td>
                        <td>{{ log.behavior }}</td>
                        <td>{{ log.detailed }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% paginator page pcnt %}
        </div>
    </div>
</div>
{% footer %}
</body>
<script crossorigin="anonymous"
        integrity="sha256-u+Q/eQIe6P5wU4K8maihJOQkhqBbf7K1NN68GwTpNz0="
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script>
</html>