<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>日志查看</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha512-rO2SXEKBSICa/AfyhEK5ZqWFCOok1rcgPYfGOqtX35OyiraBg6Xa4NnBJwXgpIRoXeWjcAmcQniMhp22htDc6g=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
          integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"
            integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha512-I5TkutApDjnWuX+smLIPZNhw+LhTd8WrQhdCKsxCFRSvhFx2km8ZfEpNIhF9nq04msHhOkE8BMOBj5QE07yhMA=="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="card shadow" style="position:fixed;left:3rem;top:3rem">
    {# TODO make this draggable. #}
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="search-src-user">用户ID</label>
                <input id="search-src-user" type="text" name="src_user" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="search-category">类别</label>
                <input id="search-category" type="text" name="category" class="form-control" required>
            </div>
        </form>
    </div>
</div>
<div class="container" style="margin-top:3rem">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">用户ID</th>
            <th scope="col">用户名</th>
            <th scope="col">IP</th>
            <th scope="col">时间</th>
            <th scope="col">类别</th>
            <th scope="col">行为</th>
            <th scope="col">详细信息</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.src_user }}</td>
                <td>{{ log.src_name }}</td>
                <td>{{ log.src_addr }}</td>
                <td>{{ log.src_time | date:'Y-m-d H:i:s' }}</td>
                <td>{{ log.category }}</td>
                <td>{{ log.behavior }}</td>
                <td>{{ log.detailed }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="w-100 d-flex">
        {% include 'component-paginator.html' %}
    </div>
</div>
</body>
</html>