<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>网络控制台</title>
    <link rel="stylesheet" href="{% static 'css/wcmd.css' %}">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha256-IdfIcUlaMBNtk4Hjt0Y6WMMZyMU0P9PN/pH+DFzKxbI=" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
</head>
<body class="text-white bg-dark">
<div class="container d-flex flex-column vh-100 font-monospace">
    <div class="mb-3"></div>
    <form class="mb-3">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input aria-label="" class="form-control text-white bg-dark" name="_" required type="text">
            <button class="btn btn-outline-light" type="submit">
                <svg class="bi bi-terminal-fill" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354L4.793 6.5 3.146 4.854a.5.5 0 1 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708z"
                          fill-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </form>
    <div class="response overflow-auto"></div>
</div>
</body>
<script crossorigin="anonymous"
        integrity="sha256-u+Q/eQIe6P5wU4K8maihJOQkhqBbf7K1NN68GwTpNz0="
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script>
<script src="{% static 'js/wcmd.min.js' %}" onload="wcmd('{% url 'wcmd-exec' %}')"></script>
</html>